<?xml version="1.0"?>
<launch>

  <!-- executa outra launch, para fornecer o mapa atraves do "map_server" -->
  <include file="$(find my_turtlebot_mapping)/launch/provide_map.launch"/>

  <arg name="scan" default="/scan" />
  
   <node pkg="amcl" type="amcl" name="amcl">
    <rosparam file="$(find my_turtlebot_localization)/params/amcl_params.yaml" command="load" />
    <remap from="scan" to="/scan"/>
  </node>

</launch>