[Unit]
Description=desliga o sistema
After=network.target

[Service]
User=ubuntu  
WorkingDirectory=/home/ubuntu/Desktop
ExecStart=/usr/bin/python3 /home/ubuntu/Desktop/powerOff_serial.py  
Restart=always

[Install]
WantedBy=multi-user.target   
