<launch>
    <!-- Inicia o servidor de ações  -->
    <node pkg="wall_following_pkg" type="record_odom_server.py" name="record_odom_server" output="screen"/>

    <!-- Start Service Server for find_wall service -->
    <node pkg="wall_following_pkg" type="service_server.py" name="find_wall_server"  output="screen">  </node>

    <!-- Start Service cliente for find_wall service -->
    <node pkg="wall_following_pkg" type="wall_following.py" name="wall_following_node"  output="screen">  </node>
</launch>